{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Welcome to our store</h1>
      <p class="lead"> If you would like to link your e-mail address to your card details in order to not have to type it again,
     <br />please login or register. </p>
    {% if session.logged_in == NULL %}
      <a href="/register" class="btn btn-primary btn-lg">Register</a>
      <a href="/login" class="btn btn-success btn-lg">Login</a>
    <a href="/sendReceipt" class="btn btn-primary btn-lg">Request an e-mail receipt</a>
    {% endif %}
  </div>
{% endblock %}